<div class="container h-100">
  <div class="row" [ngStyle]="{'height': '25%'}">
    <div class=" d-flex align-items-end justify-content-center col-sm-12">
      <h1>Welcome to the Happy App!</h1>
    </div>
  </div>
  <div class="row justify-content-center mb-5" [ngStyle]="{'height': '33%'}">
    <div class="d-flex justify-content-right col-sm-4 col-md-2 my-auto">
      <div *ngIf="initialAssessmentTaken; then Then1 else Else1"></div>
      <ng-template #Then1>
        <h2>Time to build happy habits!</h2>
      </ng-template>
      <ng-template #Else1>
        <h2>This is Freddy! He'll be with you as you build happiness habits.</h2>
      </ng-template>

    </div>
    <div class="d-flex justify-content-center col-sm-3 my-auto">
      <app-face (click)="onClickFreddy()"></app-face>
    </div>
    <div class="d-flex justify-content-left col-sm-4
    col-md-2 my-auto">
      <div *ngIf="initialAssessmentTaken; then Then2 else Else2"></div>
      <ng-template #Then2>
        <h2>Click Freddy to record how you're feeling today!</h2>
      </ng-template>
      <ng-template #Else2>
        <h2>Click him to start tracking your happiness!</h2>
      </ng-template>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>