<button id="register-button" class="btn btn-primary w-100" data-toggle="modal"
  data-target="#register-modal">Sign Up</button>

<div class="modal" id="register-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Register</h1>
        <button class="close" data-dismiss="modal" #modalCloseButton>&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" type="text" id="registration-username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="nickname">Nickname</label>
          <input class="form-control" type="text" id="nickname" placeholder="Enter nickname">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input class="form-control" type="password" id="registration-password" placeholder="Enter password">
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input class="form-control" type="password" id="confirm" placeholder="Confirm password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>