<div class="container">
  <h1>Making a Happy List</h1>

  <h3>Instructions:</h3>

  <p>One sure-fire way to make yourself happier is to do things you love, and to do them often. Make a list of
    things/situations/activities that lead you to the feeling of happiness in the way that you have defined it.</p>

  <ul>
    <li>Start with 2-3 things, then add to the list as you discover more and more happy triggers for yourself.</li>
    <li>Trigger these situations often. Make habits of visiting places and creating scenarios where you find yourself
      feeling happy.</li>
  </ul>

  <h3>My Happiness Triggers:</h3>
  <textarea type="textarea" rows="12" cols="40" maxlength="500" [ngStyle]="{'resize': 'none'}"></textarea>

  <p>Adapted from <span>If You're So Smart, Why Aren't You Happy?</span></p>

  <div class="col-sm-4">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>

</div>