<div class="container">

  <h1>Defining Happiness</h1>

  <p>The term “happiness” can be defined in many different ways, including:</p>
  <div class="row">
    <ul class="col-sm-2">
      <li>Love/connection</li>
      <li>Joy</li>
      <li>Authentic pride</li>
      <li>Hubristic pride</li>
      <li>Harmony</li>
    </ul>
    <ul class="col-sm-2">
      <li>Abundance</li>
      <li>Serenity</li>
      <li>Gratitude</li>
      <li>Interest</li>
      <li>Awe</li>
    </ul>
  </div>

  <p>Defining happiness for ourselves helps us to recognize what makes us happy and to pursue it actively.</p>

  <h3>Instructions:</h3>
  <p>Consider each of the above points and ask yourself which ones are you most drawn to. Then form your own definition
    of
    happiness. It can be a combination of two or more emotional experiences or an entirely different type of feeling.
  </p>

  <p>It is quite likely that you are going to revise and refine your definition of happiness with time. Feel free to
    come
    back here as often as you want.</p>

  <h3>My Definition of Happiness</h3>
  <textarea type="textarea" rows="4" cols="50" maxlength="200" [ngStyle]="{'resize': 'none'}"></textarea>

  <p>Adapted from <span>If You're So Smart, Why Aren't You Happy?</span></p>

  <div class="col-sm-4">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>

</div>